@keyframes spin {
    0% {
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    30%, 100% {
        opacity: 1;
    }
}

#colored_dots {
    /* 2s delay, lasts for 7s*/
    /* animation: 7s 2s spin infinite linear; */ 
    /* no delay */
    animation: 7s spin infinite linear; 
    transform-origin: center;
}

#colored_dots path {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: calc(var(--order) * 450ms);
}

#logo_app {
    width: 400px;
}

#circle_green {
    --order: 4;
}
#circle_yellow {
    --order: 1;
}
#circle_blue {
    --order: 3;
}
#circle_orange {
    --order: 5;
}
#circle_purple {
    --order: 2;
}
#circle_pink {
    --order: 0;
}