@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes dropIn {
    20% {
        opacity: 0;
        transform: translateY(-20%);
    }
    30%, 100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#skeleton {
    animation: fadeInUp 1s;
}

/* all elements in bolt group */
#bolt g {
    opacity: 0;
    animation: dropIn 8s ease forwards infinite; /* forwards: apply style from last keyframe after animation ends */
    animation-delay: calc(var(--order) * 200ms);
}

#bolt1 {
    --order: 1;
}
#bolt2 {
    --order: 2;
}
#bolt3 {
    --order: 3;
}
#bolt4 {
    --order: 4;
}
#bolt5 {
    --order: 5;
}